.table-row-em(item-id=`${doctor.id}`)
    .table-row-item-em #{doctor.service}
    .table-row-item-em #{doctor.firstname}
    .table-row-item-em #{doctor.lastname}
    .table-row-item-em #{doctor.login}
    .table-row-item-em #{doctor.email}
    .table-row-item-em #{doctor.phone}
