.table-row-em(item-id=`${nurse.id}`)
    .table-row-item-em #{nurse.service}
    .table-row-item-em #{nurse.firstname}
    .table-row-item-em #{nurse.lastname}
    .table-row-item-em #{nurse.login}
    .table-row-item-em #{nurse.email}
    .table-row-item-em #{nurse.phone}
