-let msg = [];
-msg = message.content.split(' ');
-let msg_filter = [];
-msg_filter = message.content_filter.split(' ');
if data.myUserID == message.sender_id
    div(id=message.id class=(message.emergency == 0) ? 'sender' : 'user1_emergency users_msg')
        a.delete_msg(id="delete_msg" onclick=`deleteMsg(${message.id})`)
            i.fas.fa-times
        if message.group_msg == 1
            each user in data.allUsers
                if message.sender_id == user.id
                    p=user.firstname + " " + user.lastname
        if message.file != ""
            if message.file[message.file.length - 1] === 'f'
                a(id="img_link" href="#" onclick="display('" + message.file + "')")
                    embed.user1_msg.img_width(src=message.file)
                div.input_text_msg
                    a(id="img_linka" href="#" onclick="display('" + message.file + "')")
                        button Voir
            else
                if message.del_msg == 1
                    span#message(class=(message.emergency == 0) ? 'user1_msg' : 'user1_msg_emergency') Message supprimé
                else
                    span#message(class=(message.emergency == 0) ? 'user1_msg' : 'user1_msg_emergency')
                        -for (let i = 0; msg[i]; i++)
                            if data.myUser.filter == 0
                                if i == msg.length - 1
                                    span.msg_split=msg[i]
                                else
                                    span.msg_split=msg[i] + " "
                            else if data.myUser.filter == 1
                                if i == msg.length - 1
                                    span.msg_split=msg_filter[i]
                                else
                                    span.msg_split=msg_filter[i] + " "
                a(id="img_link" href="#" onclick="display('" + message.file + "')")
                    img.user1_msg.img_width(id="img_display" src=`${message.file}` alt=message.file)
                span#date=message.send_at.substr(0, 19).replace('T', " à ")

        if message.content != "" && message.file == ""
            if message.del_msg == 1
                span#message(class=(message.emergency == 0) ? 'user1_msg' : 'user1_msg_emergency') Message supprimé
            else
                span#message(class=(message.emergency == 0) ? 'user1_msg' : 'user1_msg_emergency')
                    -for (let i = 0; msg[i]; i++)
                        if data.myUser.filter == 0
                            if i == msg.length - 1
                                span.msg_split=msg[i]
                            else
                                span.msg_split=msg[i] + " "
                        else if data.myUser.filter == 1
                            if i == msg.length - 1
                                span.msg_split=msg_filter[i]
                            else
                                span.msg_split=msg_filter[i] + " "
            span#date=message.send_at.substr(0, 19).replace('T', " à ")
else
    div(id=message.id class=(message.emergency == 0) ? 'receiver' : 'user2_emergency users_msg notif_msg')

        if message.group_msg == 1
            each user in data.allUsers
                if message.sender_id == user.id
                    p=user.firstname + " " + user.lastname

        if message.file != ''
            if message.file[message.file.length - 1] === 'f'
                a(id="img_link" href="#" onclick="display('" + message.file + "')")
                    embed.user1_msg.img_width(src=message.file width="500" height="375")
                div.input_text_msg
                    a(id="img_link" href="#" onclick="display('" + message.file + "')")
                        button Voir
            else
                a(id="img_link" href="#" onclick="display('" + message.file + "')")
                    img.user2_msg.img_width(id="img_display" src=`${message.file}` alt=message.file)

        if message.content != ""
            if message.del_msg == 1
                span#message(class=(message.emergency == 0) ? 'user2_msg' : 'user2_msg_emergency') Message supprimé
            else
                span#message(class=(message.emergency == 0) ? 'user2_msg' : 'user2_msg_emergency')
                    -for (let i = 0; msg[i]; i++)
                        if data.myUser.filter == 0
                            if i == msg.length - 1
                                span.msg_split=msg[i]
                            else
                                span.msg_split=msg[i] + " "
                        else if data.myUser.filter == 1
                            if i == msg.length - 1
                                span.msg_split=msg_filter[i]
                            else
                                span.msg_split=msg_filter[i] + " "
            span#date=message.send_at.substr(0, 19).replace('T', " à ")