doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/styles.css')
        link(rel='stylesheet', href='/stylesheets/patients.css')
        script(type='text/javascript' src='/javascripts/utils.js')
        script(type='text/javascript' src='/javascripts/consultation.js')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap')
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    body
        #patients-container
            .section-1-flex-box
                .capsule
                    .capsule-content(style="flex-wrap: wrap")
                        #informations(style="min-width: 100vw")
                            h2(style="margin-top: 2em;")=rdv.title
                            span=rdv.description
                        #notes(style="min-width: 100vw; margin-top:20px")
                            h2 Notes précédentes
                                if data.notes.data.length > 0
                                    table.sortable
                                        tr
                                            th#titleName Auteur
                                            th#titleType Contenu
                                            each note in data.notes.data
                                                tr.item
                                                    td#creator=note.n_creator.split('.').join(' ')
                                                    td#content=note.n_content
                                            if data.prescriptions.data.length > 0
                                                each prescription in data.prescriptions.data
                                                    tr.item
                                                        td#creator=prescription.p_creator
                                                        td#content=prescription.p_content
                                else
                                    div
                                        span Aucune note
                        #note-text(style="min-width: 100vw; margin-top:50px")
                            h2 Prendre des notes
                            textarea(id="data" style="width: 70%; height: 30vh" placeholder="Prenez des notes sur le rendez-vous ici !")
                        #create(style="min-width: 100vw; margin-top:50px")
                            button(onclick="window.location.href = \"/prescription/headerless?patient=" + data.all_patients[0].ss_number + "\"") Créer une ordonnance
                        #close(style="min-width: 100vw; margin-top:15vmax")
                            button(onclick="postData('" + user.login + "'," + JSON.stringify(data.all_patients[0]) + ")") Terminer la consultation